.modal-overlay {
  background-color: #000000a1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border: 0.1rem solid #454545;
  background-color: #080808;
  padding: 4rem;
  border-radius: 0.8rem;
  color: #eaeaea;
  width: 60%;
  height: fit-content;
  overflow: hidden;
}

.modal > .modal-content > h2 {
  margin-bottom: 2rem;
  color: #eaeaeaa6;
}

.modal > .modal-content > ul {
  list-style: none;
  height: 25rem;
  overflow-y: auto;
}

.modal > .modal-content > ul::-webkit-scrollbar {
  width: 7px;
}

.modal > .modal-content > ul::-webkit-scrollbar-track {
  background: transparent;
}

.modal > .modal-content > ul::-webkit-scrollbar-thumb {
  background: #eaeaea98;
  border-radius: 10px;
}

.modal > .modal-content > ul::-webkit-scrollbar-thumb:hover {
  background: #eaeaeab9;
}

.modal > .modal-content > ul > li {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.modal > .modal-content > ul > li > a {
  color: #eaeaea;
  text-decoration: none;
}

.modal-footer {
  padding-top: 2rem;
}

@media (max-width: 760px) {
  .modal {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .modal {
    width: 95%;
    height: 95%;
  }

  .modal > .modal-content > ul {
    height: 95%;
  }
}
